$main-bg-color: #000000;
$additional-color: #0B192C;
$main-text-color: #1E3E62;
$additional-text-color: #3C2D8A;
$main-button-color: #FF6500;
$hover-button-color: #0087A9; 
$hover-text-color: #093a46;
$additional-hover-text: #3C2D8A;
$border-button-color: #01C2F0;
$main-margin: 1.5 rem;
$main-padding: 1 rem;
$text-margin: 0.5 rem;
$transition: 0.4s all ease-in-out;   