:root {
  color-scheme: light dark;

  --main-bg-color: #000000;
  --additional-color: #0B192C;
  --main-text-color: #1E3E62;
  --additional-text-color: #3C2D8A;
  --main-button-color: #FF6500;
  --hover-button-color: #0087A9; 
  --hover-text-color: #093a46;
  --border-button-color: #01C2F0;
  --main-margin: 1.5 rem;
  --main-padding: 1 rem;
  --text-margin: 0.5 rem;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--main-bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
